{% from "formulas/salt_self_management/map.jinja" import salt_self_management with context -%}
{% set guard = salt_self_management.get('safe_apply', {}) -%}
SALT_GUARD_STATE_DIR={{ guard.get('state_dir') }}
SALT_GUARD_CANDIDATE_DIR={{ guard.get('candidate_dir') }}
SALT_GUARD_INSTALLER_LOCK={{ guard.get('installer_lock') }}
SALT_GUARD_APPLY_WAIT_TIMEOUT={{ guard.get('apply_wait_timeout', 210) }}
SALT_GUARD_HEALTH_TIMEOUT={{ guard.get('health_timeout', 20) }}
SALT_GUARD_MINION_PROBE_ENABLED={{ 'yes' if guard.get('minion_master_probe_enabled', true) else 'no' }}
SALT_GUARD_MINION_PROBE_TIMEOUT={{ guard.get('minion_master_probe_timeout', 15) }}
SALT_GUARD_SALT_INSTALL_DIR=/opt/saltstack/salt
